<mat-card>
  <mat-card-header>
    <h1>
      Created by Abhi Singh.
    </h1>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <p>follow me on instagram to get your coding fix.
    <br>
    <a fxLayout="row" fxLayoutAlign="center center" mat-button target="_blank" href="https://instagram.com/abhi.codes">
      <span><i class="fa fa-instagram" style="padding:5px;font-size:24px;color:red"></i>abhi.codes</span>
    </a>
    </p>
  </mat-card-content>
</mat-card>